@tailwind base;
@tailwind components;
@tailwind utilities;




.box {
  position: relative;
}

.firstlayer {
  position: absolute;
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 44px;
  z-index: -10;
  width: 70%;
}

.before {
  position: absolute;
  opacity: 0.9;
  top: 50%;
  transform: translateY(-50%);
  right: -22px;
  mix-blend-mode: multiply;
  width: 50%;
}

.right_arrow .box {
  display: flex;
  justify-content: end;
}

.right_arrow .before {
  left: -22px;
}

.right_arrow .firstlayer {
  left: 44px;
}


.main { width: 80%;}

.about_us h1 { margin: 12px 0; font-weight:bolder; font-size: 30px;}

.about_us h6 { margin: 12px 0; font-weight:bolder;}
.about_us p { margin-bottom: 12px }

.about_us ul { list-style: disc; padding-left: 20px; margin-bottom: 10px;}